
* {
    font:                        "Monocraft 12";
    background:                  #111014;
    background-alt:              #111014;
    foreground:                  #a4e3d3;
    selected:                    #a4e3d3;
    active:                      #639b96;
    urgent:                      #a4e3d3;
}
